.example-icon {
    padding: 0 14px;
}
.navigation {
    margin-bottom: 20px;
    height: 90px;
    padding: 2% 10%;
    background-color: rgb(252, 252, 252);
    color: darkgrey;
    position: fixed;
    z-index: 999;
}
.navigation img{
    width: 160px;
    height: auto;
}
.example-spacer {
    flex: 1 1 auto;
}