<mat-toolbar class="navigation">
        <a routerLink="/profile">
            <img src="assets/images/brand-logo.png" alt="">
        </a>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="navigate('search-friends')">
                        <span matTooltip="Ranking" >
                                <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
                        </span>
        </button>  
        <button mat-icon-button (click)="navigate('gameplay')">
                        <span matTooltip="Nueva Partida" >
                                <mat-icon aria-label="Example icon-button with a heart icon">add_location</mat-icon>
                        </span>
        </button> 
        <button mat-icon-button (click)="navigate('profile')">
                <span matTooltip="Mi perfil" >
                        <mat-icon aria-label="Example icon-button with a heart icon">perm_identity</mat-icon>
                </span>
        </button>
        <button mat-icon-button (click)="navigate('social')">
                <span matTooltip="Amigos" >
                        <mat-icon aria-label="Example icon-button with a heart icon">people</mat-icon>
                </span>
        </button> 
        <button mat-icon-button (click)="navigate('community')">
                <span matTooltip="Comunidad" >
                        <mat-icon aria-label="Example icon-button with a heart icon">chat</mat-icon>
                </span>
        </button> 
        <button mat-icon-button (click)="logoutFromGeocity()">
                <span matTooltip="Salir">
                  <mat-icon aria-label="Example icon-button with a heart icon">exit_to_app</mat-icon>
                </span>
        </button>          
</mat-toolbar>