<app-navigation></app-navigation>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1> <mat-icon style="font-size: 30px; margin-right: 20px;">group</mat-icon>Amigos</h1>  
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
            <div *ngIf="friends">
                <mat-card *ngFor="let friend of friends; index as i" class="match-header">
                    <img src="{{ friend.profilePhotoUrl }}" draggable="false" alt="">                        
                    <div class="ranked-user-details">
                            <p class="ranked-user-details-username">{{ friend.username }}</p>
                            <p class="ranked-user-details-country">{{ friend.country }}</p>
                    </div>
                    <app-follow-button style="float: right; position:relative;" [currentUserId]="this._userService.currentUserId" [userId]="friend.$key"></app-follow-button>                       
                </mat-card>  
            </div>
      </div>
  </div>
</div>