<app-navigation></app-navigation>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> <mat-icon>sort</mat-icon>  Ranking Mundial</h1>    
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div>
                <p class="heading"> <mat-icon>filter_list</mat-icon>  Filtrar </p>
                        <p class="filter-heading">Filtrar por fecha</p>
                        <ul style="list-style-type: none;">
                            <li>Hoy</li>                        
                            <li>Semana</li>
                            <li>Mes</li>                    
                        </ul> 
            </div>  
        </div>  
        <div *ngIf="rankedUsers; else noRankedUsers" class="col-md-9 col-sm-9 col-xs-12">
            <p class="heading"> <mat-icon>trending_up</mat-icon> Los mejores de hoy</p>
                <mat-card *ngFor="let rankedUser of rankedUsers; index as i" class="match-header">
                    <p class="ranked">{{  i + 1 }}°</p>    
                    <img src="{{ rankedUser.profilePhotoUrl }}" draggable="false" alt="">                        
                    <div class="ranked-user-details">
                         <p class="ranked-user-details-username">{{ rankedUser.username }}</p>
                         <p class="ranked-user-details-country">{{ rankedUser.country }}</p>
                    </div>
                    <p class="ranked-user-score"> {{ rankedUser.score }} <span>pts</span></p>  
                    <app-follow-button [currentUserId]="_userService.currentUserId" [userId]="rankedUser.$key"></app-follow-button>
                </mat-card> 
        </div>
         <ng-template #noRankedUsers>  
                <div class="col-md-9 col-sm-9 col-xs-12">   
                      <mat-spinner style="display: block; float: none; margin: 20% auto;"></mat-spinner>
                </div> 
         </ng-template> 
    </div>
</div>