.match-header {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-wrap: wrap;
    font-size: 1.5em;
    border-left: 5px solid rgb(47, 0, 255);;
}
.match-header {
  font-size: 1em;
  font-family: 'jaapokkiregularregular';  
}
.match-header img{
    width: 60px;
    margin: 0;
    height: 60px;
}