<app-navigation></app-navigation>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center"> <mat-icon>sort</mat-icon> Ranking de Amigos</h1>    
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div>
                <p class="heading"> <mat-icon>filter_list</mat-icon>  Filtrar </p>
                    <ul class="list-filter">
                        <li [ngClass]="{'filter-active': filter.isActive }" *ngFor="let filter of filters" (click)="getFriendsRankingPeriod(filter)">
                            <mat-icon>{{ filter.icon }}</mat-icon>  <span> {{ filter.label }}</span>
                        </li>                          
                        <li (click)="getHistoricalFriendsRanking()"><mat-icon>timeline</mat-icon> <span> Histórico </span></li>                                                        
                    </ul> 
            </div>  
        </div>  
        <div *ngIf="rankedUsers; else noRankedUsers" class="col-md-10 col-sm-10 col-xs-10">
            <p class="heading"> <mat-icon>trending_up</mat-icon> Los mejores de {{ rankingDescription }}</p>
                <mat-card *ngFor="let rankedUser of rankedUsers; index as i" class="match-header">
                    <p class="ranked">{{  i + 1 }}°</p>    
                    <img src="{{ rankedUser.profilePhotoUrl }}" draggable="false" alt="">                        
                    <div class="ranked-user-details">
                         <p class="ranked-user-details-username">{{ rankedUser.username }}</p>
                         <p class="ranked-user-details-country">{{ rankedUser.country }}</p>
                    </div>
                    <p class="ranked-user-score"> {{ rankedUser.score }} <span>pts</span></p>  
                </mat-card> 
        </div>
         <ng-template #noRankedUsers>  
                <div class="col-md-9 col-sm-9 col-xs-12">   
                      <mat-spinner style="display: block; float: none; margin: 20% auto;"></mat-spinner>
                </div> 
         </ng-template> 
    </div>
</div>