<app-navigation></app-navigation>
<header>  
</header>
<div class="container">
    <h1>Editar mi perfil </h1>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="user-details">
              Información general
            </p>
          </mat-panel-title>
          <mat-panel-description>
            Modificar mis datos
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
              <h3>Modifica tu información </h3>
              <form (ngSubmit)="registerAccountWithEmailAndPassword()" [formGroup]="userUpdateForm">     
                    <mat-form-field class="full-width">
                            <input 
                                matInput
                                type="text"
                                placeholder="Nombre de Usuario"
                                formControlName="username">
                    </mat-form-field> 
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Pais de Origen" formControlName="country">
                          <mat-option *ngFor="let country of countries" [value]="country.name">
                              {{ country.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    <button mat-raised-button type="submit" color="primary">Guardar cambios</button>
                </form>
            </div>  
            <div *ngIf="user; else loading" class="col-md-6 col-xs-12 col-sm-6">
                <div>
                    <img src="{{ user.profilePhotoUrl }}" alt="">
                </div>
                <div class="user-details">
                        <p>
                            {{ user.username }} 
                        </p>
                        <p class="country">{{ user.country | uppercase }}</p>                    
                </div>
            </div> 
        </div>
      </mat-expansion-panel>
  <h2>Cambiar mi contraseña de Geocity</h2>    
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="user-details">
            Cambiar contraseña
          </p>
        </mat-panel-title>
        <mat-panel-description>
           Enviar a formulario a mi correo 
        </mat-panel-description>
      </mat-expansion-panel-header>
      Geocity enviará para el cambio de tu nueva contraseña.
      Si estás seguro pulsa el siguente botón para hacer el envío,
      nos pondremos en contacto contigo enseguida.
      <br>
      <br>
      <button mat-raised-button color="warn">Enviar correo de confirmación</button>
    </mat-expansion-panel>
</div>