header {
    padding: 20px 40px;
    color: white; 
    width: 100vw;
    height: 20vh; 
    background-size: cover;
    background-image: url(../../../assets/images/user-profile-header.jpg); 
    margin-top: -20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-repeat: no-repeat;
}
h1{
    font-size: 5em;
    margin-top: 1em;    
    margin-bottom: .5em;
    font-family: 'jaapokkiregularregular';
}
h2{
    font-size: 3.5em;
    margin-top: 1em;
    font-family: 'jaapokkiregularregular';
}
img {
    width: 150px;
    height: auto;
    margin-top: 7em;
    border-radius: 50%;
}
.user-details {
    margin-left: .5em;
    margin-top: 2em;
}
p.user-details {
    margin-top: -1px;
    font-size: 1em;
    font-family: 'jaapokkiregularregular';
}