<app-navigation></app-navigation>
<header>  
</header>
<div class="container">
    <h2>Editar perfil </h2>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="user-details">
              Información general
            </p>
          </mat-panel-title>
          <mat-panel-description>
            Actualizar mi perfil
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
              <h3>Modifica tu información general </h3>
              <form (ngSubmit)="sendsUserUpdateForm( )" [formGroup]="userUpdateForm">     
                    <mat-form-field class="full-width">
                            <input 
                                matInput
                                type="text"
                                placeholder="Nombre de Usuario"
                                formControlName="username">
                    </mat-form-field> 
                    <mat-form-field class="full-width">
                        <input 
                            matInput
                            type="text"
                            placeholder="Foto de perfil"
                            formControlName="profilePhotoUrl">
                    </mat-form-field> 
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Pais de Origen" formControlName="country">
                        <mat-option *ngFor="let country of countries" [value]="country.name">
                            {{ country.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary">Guardar cambios</button>
                </form>
            </div>  
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div>
                     <img  src="{{ userUpdateForm.value.profilePhotoUrl }}" alt="">
                </div>
                <div class="user-details">
                      <p>
                        <span>Username:</span> {{ userUpdateForm.value.username }}
                      </p>     
                      <p> 
                        <span>País de origen:</span>  {{ userUpdateForm.value.country }}                          
                      </p>         
                </div>
            </div> 
        </div>
      </mat-expansion-panel>
  <h2>Cambiar contraseña</h2>    
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="user-details">
            Cambiar contraseña
          </p>
        </mat-panel-title>
        <mat-panel-description>
           Enviar a formulario a mi correo 
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p>
          Geocity enviará un correo para el cambio de tu contraseña.
          Si estás seguro pulsa el siguente botón para hacer el envío y
          nos pondremos en contacto contigo enseguida.
       </p>
       <br>
      <br>
      <button style="display: flex; margin: 0 auto;" 
              mat-raised-button 
              color="warn"
              (click)="sendPasswordResetEmail()">Enviar correo de confirmación</button>
    </mat-expansion-panel>
    <h2>Eliminar mi cuenta</h2>    
    <mat-expansion-panel color="warn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="user-details">
              Salirme de Geocity
            </p>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <p class="text-center"> ¡Cuidado! Al pulsar este botón tu cuenta será eliminida permanentemente,
           tú historial de partidas y tu información personal será eliminada de Geocity 
           y no podrá ser recuperada.
          </p>
        <br>
        <br>
        <button style="display: flex; margin: 0 auto;" mat-raised-button color="warn">Eliminar mi cuenta</button>
      </mat-expansion-panel>
</div>