<div class="bg-continent">
    <div class="container container-upper">
        <h1 class="text-center">
             <span>
            <img class="logo-main" src="assets/images/logo.png" alt="Logo Geocity">
         </span>
          Geocity
        </h1>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-lg-4 col-lg-offset-4 ">
                <h3 class="text-center">Ingresa a tu cuenta</h3> <br>       
                <form (ngSubmit)="loginWithEmailAndPassword()" [formGroup]="loginForm">
                        <mat-form-field class="full-width">
                                <input 
                                    matInput
                                    type="email"
                                    placeholder="Correo electrónico"
                                    formControlName="email">
                        </mat-form-field> 
                        <mat-form-field class="full-width">
                                <input 
                                    matInput
                                    type="password"
                                    placeholder="Contraseña"
                                    formControlName="password">
                        </mat-form-field>
                        <button mat-raised-button color="accent" type="submit">                              
                            Acceder a mi cuenta
                        </button>
                </form>
                        <hr>
                        <p>Accede con tu cuenta de Gmail</p>
                        <button mat-raised-button color="primary" type="submit" (click)="loginWithGoogleAccount()">
                            <i class="fa fa-google"></i>  
                            Acceder con Google
                        </button>
                        <br>
                        <hr>
                        <p class="register-invitation">¿No tienes una cuenta? Da click <a routerLink="/register">aquí</a> y regístrate en Geocity.</p>
            </div>
        </div>
    </div>
</div>