p.heading {
    font-family: 'jaapokkiregularregular';
    font-size: 2.5em;
    margin-bottom: 15px;
    margin-top: 30px;
}
.user-post {
    max-width: 95%;
    margin: 20px auto;
}
.user-post-title {
    font-family: 'Ubuntu';
    font-size: 1.1em;
    margin-left: 10px;
}
.user-post-timestamp {
    font-family: 'Ubuntu';
    margin-left: 15px;
}
.user-post-body {
    margin-left: 10px;
    font-family: 'Ubuntu';
    font-size: .90em; 
}