<app-navigation></app-navigation>
<div class="container">
    <br>
    <br>
    <br>
    <br>
  <div  class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p class="heading">Notificaciones</p>
        <div *ngIf="notifications; else noMessages">
            <mat-card *ngFor="let notification of notifications" class="user-post">
                <button style="float:right;" mat-icon-button (click)="deleteNotification(notification.$key)"> <mat-icon>delete</mat-icon></button>                                                                                       
                <mat-card-header>
                  <div mat-card-avatar style="width: 75px; height:75px; background-size: cover;background-repeat: no-repeat;background-position: center center;" [ngStyle]="{ 'background-image': 'url('+ notification.image +')'}"></div>
                  <div>
                      <mat-card-title class="user-post-title">{{ notification.title }}</mat-card-title> 
                      <p class="user-post-body">
                          {{ notification.body }}
                       </p>                     
                  </div> 
                </mat-card-header> 
          </mat-card>
        </div>
        <ng-template #noMessages>
            <div style="font-family: 'Ubuntu'; color: rgb(182, 182, 182); display: block; margin: 30px auto;">
                No hay notificaciones para mostrar
            </div>
        </ng-template>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="heading">Solicitudes de amistad</p>          
      </div>          
  </div>
</div>