<app-navigation></app-navigation>
<div class="container">
    <br>
    <br>
    <br>
    <br>
  <div  class="row">
        <h1 class="text-center"> <mat-icon style="font-size: .8em; margin-right: 12.5px;">notifications</mat-icon> Notificaciones</h1>
        <div *ngIf="notifications; else noMessages">
            <mat-card *ngFor="let notification of notifications" class="user-post">
                <button style="float:right;" mat-icon-button (click)="deleteNotification(notification.$key)"> <mat-icon>delete</mat-icon></button>                                                                                       
                <mat-card-header>
                  <div mat-card-avatar style="width: 75px; height:75px; background-size: cover;background-repeat: no-repeat;background-position: center center;" [ngStyle]="{ 'background-image': 'url('+ notification.image +')'}"></div>
                  <div>
                      <mat-card-title class="user-post-title">{{ notification.title }}</mat-card-title> 
                      <mat-card-subtitle class="user-post-timestamp">{{ notification.timestamp | date:'fullDate'  }}</mat-card-subtitle>                       
                      <p class="user-post-body">
                          {{ notification.body }}
                       </p>                     
                  </div> 
                </mat-card-header> 
          </mat-card>
        </div>
        <ng-template #noMessages>
            <div class="text-center" style="font-family: 'Ubuntu'; color: rgb(182, 182, 182); display: block; margin-top: 50px;">
                No hay notificaciones para mostrar
            </div>
        </ng-template>
  </div>
</div>