<app-navigation></app-navigation>
<div class="container">
    <br>
    <br>
    <br>
    <br>
  <h1 class="text-center">Notificaciones</h1>    
  <div  class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p class="heading">Notificaciones</p>
        <div *ngIf="messages; else noMessages">
            <div *ngFor="let message of messages">
                <p>{{ message.title }}</p>
                <p>{{ message.body }}</p>
            </div>  
        </div>
        <ng-template #noMessages>
            <div style="font-family: 'Ubuntu'; color: rgb(182, 182, 182); display: block; margin: 30px auto;">
                No hay notificaciones para mostrar
            </div>
        </ng-template>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="heading">Solicitudes de amistad</p>          
      </div>          
  </div>
</div>