<app-navigation></app-navigation>
<header>
        <div *ngIf="user; else loading" class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12">
                        <img src="{{ user.profilePhotoUrl }}" alt="">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       <div class="user-details">
                            <p>
                                {{ user.username }} 
                            </p>
                            <p class="country">{{ user.country | uppercase }}</p>                    
                            <p>{{ user.ranking }} pts</p>
                       </div>
        
                    </div>
                </div>
            </div>
            <ng-template #loading>
               <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
            </ng-template>
</header>
<div class="container">
    <h2>Añade un nuevo post</h2>
    <form (ngSubmit)="registerAccountWithEmailAndPassword()">    
        <mat-form-field class="full-width">
                <textarea 
                    matInput
                    type="text"
                    placeholder="Escribe algo que te guste">
                </textarea>
        </mat-form-field> 
        <br>
        <button mat-raised-button type="submit" color="accent">Acceder</button>
    </form>
</div>
