@font-face {
    font-family: 'jaapokkiregularregular';
    src: url('../../assets/fonts/jaapokki-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/jaapokki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header {
    padding: 30px 40px;
    color: white; 
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-image: url(../../assets/images/world-ranking.jpg); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
h1 {
    margin-left: 50px;
    font-size: 6em;
    font-family: 'jaapokkiregularregular';
}
img {
    width: 280px;
    height: auto;
    margin-top: 7em;
    border-radius: 50%;
}
.user-details {
    margin-left: .5em;
    margin-top: 7em;
}
.user-details p{
    font-size: 4em;
    font-family: 'jaapokkiregularregular';
}
.user-details p.country {
    font-size: 2em;
}
.user-edit {
    background-color: rgba(0,0,0, 0.3);
    margin-left: 30px;
}
