<app-navigation></app-navigation>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1 class="text-center"> <mat-icon style="font-size: .8em; margin-right: 12.5px;">forum</mat-icon>  Foro</h1>
    <form (ngSubmit)="createNewPost()" [formGroup]="createPostForm">
                <mat-form-field class="new-post">
                    <textarea 
                        matInput
                        type="text"
                        formControlName="body"
                        placeholder="¿Qué está pasando? ¡Compártelo con la comunidad!">
                    </textarea>
                </mat-form-field> 
                    <br>
                    <button [disabled]="!createPostForm.valid" mat-raised-button type="submit" color="warn">CREAR PUBLICACIÓN</button>
     </form>
     <div *ngIf="posts" class="row">
                <mat-card *ngFor="let post of posts" class="user-post">
                    <app-follow-button style="float: right; position:relative;" [currentUserId]="this._userService.currentUserId" [userId]="post.userId"></app-follow-button>                                            
                    <mat-card-header>
                      <div mat-card-avatar style="width: 75px; height:75px; background-size: cover;background-repeat: no-repeat;background-position: center center;" [ngStyle]="{'background-image': 'url('+post.authorProfilePhoto +')'}"></div>
                      <mat-card-title class="user-post-title">{{ post.authorUsername }}</mat-card-title>
                      <mat-card-subtitle class="user-post-timestamp"> {{ post.timestamp | date:'fullDate' }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="user-post-body">
                         {{ post.body }}
                      </p>
                    </mat-card-content>
                    <mat-card-actions style="margin-left: 10px;">
                            <app-voting [postId]="post.$key" [userId]="_userService.currentUserId" [authorId]="post.userId"></app-voting>
                            <button mat-button (click)="selectPost(post)">Comentar</button>      
                            <button  style="float:right; position:relative;" mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon>more_horiz</mat-icon> </button>
                            <mat-menu #menu="matMenu">
                              <button [disabled]="_userService.currentUserId != post.userId" mat-menu-item (click)="deletePost(post.$key)"><mat-icon>delete</mat-icon> Eliminar</button>                          
                            </mat-menu>                  
                    </mat-card-actions>
                    <mat-card *ngFor="let comment of post.comments" class="user-comment">
                            <mat-card-header>
                                    <div mat-card-avatar style="width: 50px; height:50px;" [ngStyle]="{'background-image': 'url('+comment.authorProfilePhoto +')'}"></div>
                                    <mat-card-title class="user-comment-title">{{ comment.authorUsername }}</mat-card-title>
                                    <mat-card-subtitle class="user-comment-timestamp"> {{ comment.timestamp | date:'fullDate' }}</mat-card-subtitle>
                                    <button  style="float:right; position:relative;" mat-icon-button [matMenuTriggerFor]="commentMenu"> <mat-icon>more_horiz</mat-icon> </button>
                                    <mat-menu #commentMenu="matMenu">
                                            <button (click)="deleteComment(comment.$key)" [disabled]="_userService.currentUserId != comment.userId" mat-menu-item><mat-icon>delete</mat-icon> Eliminar</button>                          
                                    </mat-menu> 
                            </mat-card-header>
                            <mat-card-content>
                                    <p class="user-comment-body">
                                            {{ comment.body }}
                                    </p>
                            </mat-card-content>
                    </mat-card> 
                    <div *ngIf="post.showForm">
                            <mat-card class="user-comment">
                                 <mat-form-field  class="full-width">
                                                         <textarea 
                                                                 matInput
                                                                 type="text"
                                                                 name= "comment"
                                                                 placeholder="Escibe un comentario"
                                                                 [(ngModel)]="post.commentText">
                                                         </textarea>
                                 </mat-form-field> 
                                 <button mat-raised-button type="submit" color="accent" (click)="addComment(comment)">Comentar</button>                          
                            </mat-card>
                    </div>  
                </mat-card>
        </div>
</div>
<app-footer></app-footer>