@font-face {
    font-family: 'jaapokkiregularregular';
    src: url('../../assets/fonts/jaapokki-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/jaapokki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
img {
    width: 280px;
    height: auto;
    margin-top: 7em;
    border-radius: 50%;
}
.user-details {
    margin-left: .5em;
    margin-top: 7em;
}
.user-details p{
    font-size: 4em;
    font-family: 'jaapokkiregularregular';
}
.user-details p.country {
    font-size: 2em;
}
.user-edit {
    background-color: rgba(0,0,0, 0.3);
    margin-left: 30px;
}
.new-post {
    margin: 20px auto;
    width: 100%;
}
.form-container {
    display: block;
    width: 60vw;
    margin: 30px auto;
}
.user-post {
    max-width: 100%;
    margin: 20px auto;
}
.user-post-title {
    font-family: 'jaapokkiregularregular';
    font-size: 2em;
    margin-left: 10px;
}
.user-post-timestamp {
    font-family: 'Ubuntu';
    margin-left: 15px;
}
.user-post-body {
    margin-left: 10px;
    margin-top: 30px;
    font-family: 'Ubuntu';
    font-size: 1.25em;
    
}
.user-comment {
    max-width: 100%;
    margin: 10px auto;
  }
  .user-comment-title {
    font-family: 'jaapokkiregularregular';
    font-size: 1.5em;
    margin-left: 10px;
  }
  .user-comment-timestamp{
    font-family: 'Ubuntu';
    font-size: .7em;
    margin-left: 10px;
  }
  .user-comment-body{ 
    margin-left: 10px;
    margin-top: 30px;
    font-family: 'Ubuntu';
    font-size: 1em; 
  }