<app-navigation></app-navigation>
<div class="container">
        <br>
        <br>
        <br>
        <br>        
        <br>
        <h1 class="text-center" > <mat-icon style="font-size: .8em; margin-right: 12.5px;">search</mat-icon> Buscar amigos</h1>
        <p class="text-center" style="font-family: 'Ubuntu'; margin-bottom: 2.5%; margin-top: -5px; color: rgb(153, 153, 153);">Busca amigos de todo el mundo para jugar y compartir</p>
        <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                        <mat-form-field style="width: 100%;">
                                <mat-select placeholder="Pais de origen" name="country" [(ngModel)]="countryFilter" (change)="filterByCountryControl()">
                                    <mat-option value="all">Todos los países</mat-option>
                                    <mat-option *ngFor="let country of countries"  [value]="country.name">
                                        {{ country.name }}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                        <mat-form-field style="width: 100%;">
                                <input name="term" type="text" name="username" 
                                       matInput 
                                       placeholder="Nombre de usuario" 
                                       [(ngModel)]="username">
                                <mat-icon matSuffix *ngIf="!username; else showDelete">search</mat-icon>
                                <ng-template #showDelete>
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
                                          <mat-icon>close</mat-icon>
                                    </button>
                                </ng-template>
                        </mat-form-field>
                </div>
        </div>
        <div *ngIf="users; else noResults" class="row">
                <mat-card *ngFor="let user of users | filter: username" class="match-header"> 
                        <img src="{{ user.profilePhotoUrl }}" draggable="false" alt="">                        
                        <div class="ranked-user-details">
                                <p class="ranked-user-details-username">{{ user.username }}</p>
                                <p class="ranked-user-details-country">{{ user.country }}</p>
                        </div> 
                        <div class="ranked-user-details">
                                <p class="ranked-user-score"> {{ user.score }} <span>pts</span></p>
                                <p> 14 amigos</p>
                        </div>
                        <app-follow-button [currentUserId]="userService.currentUserId" [userId]="user.$key"></app-follow-button>  
                </mat-card> 
        </div>
        <ng-template #noResults>
                <div style="font-family: 'Ubuntu'; color: rgb(182, 182, 182); display: block; margin: 30px auto;">
                        No hay publicaciones que mostrar
                </div>
        </ng-template>
</div>