header {
    padding: 20px 40px;
    color: white; 
    width: 100vw;
    height: 80vh; 
    background-size: cover;
    background-image: url(../../assets/images/user-profile-header.jpg); 
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    width: 300px;
    height: auto;
    margin-top: 4em;
    border-radius: 50%;
}
.user-details {
    margin-left: 2.5em;
    margin-top: 4.5em;
}
.user-details p{
    font-size: 3em;
}