<header>
    <div *ngIf="user; else loading" class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-12">
                <img src="{{ user.profilePhotoUrl }}" alt="">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="user-details">
                    <p>
                        {{ user.username }} 
                        <span matTooltip="Editar mi perfil">
                             <a class="user-edit" mat-fab routerLink="/update-profile">
                                  <mat-icon aria-label="Edit profile">mode_edit</mat-icon>
                             </a>
                        </span> 
                    </p>
                    <p class="country">{{ user.country | uppercase }}</p>                    
                    <p>{{ user.ranking }} pts</p>
               </div>

            </div>
        </div>
    </div>
    <ng-template #loading>
       <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </ng-template>
</header>
<app-navigation></app-navigation>
<button-upper></button-upper>