<app-navigation></app-navigation>
<header>
    <div *ngIf="user; else loading" class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="{{ user.profilePhotoUrl }}" alt="">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
               <div class="user-details">
                    <p>
                        {{ user.username }} 
                        <span matTooltip="Editar mi perfil">
                                <a class="user-edit" mat-fab routerLink="/update-profile">
                                             <mat-icon aria-label="Edit profile">mode_edit</mat-icon>
                                </a>
                        </span> 
                    </p>
                    <p class="country">{{ user.country | uppercase }}</p>                    
                    <p>{{ user.score }} pts</p>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 button-container">
                <a class="fancy-button bg-gradient2" routerLink="/gameplay">
                     <span>Nueva Partida</span>      
                </a>
            </div>
        </div>
    </div>
    <ng-template #loading>
       <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </ng-template>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="friends-list">
                <p>Amigos</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="ranking-list">
                <p>Ranking</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div *ngIf="matches; else showNoMatches" class="row">
        <div *ngFor="let match of matches">
            <div class="match-header">
                <p class="continent"> Continente: {{ match.continent }}</p>  
                <p class="score"> Puntuación: {{ match.score }} <span style="color: lightgreen; margin-right: 10px;"> / 500</span>  pts</p>
                <p class="timestamp"> Fecha: {{ match.timestamp | date }}</p>                  
            </div>
        </div>   
    </div>
    <ng-template #showNoMatches>
         <mat-card class="empty-card">
            No tienes partidas jugadas
         </mat-card> 
    </ng-template>
</div>
<app-footer></app-footer>