header {
    padding: 20px 40px;
    color: white; 
    width: 100vw;
    height: 80vh; 
    background-size: cover;
    background-image: url(../../assets/images/user-profile-header.jpg); 
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    width: 250px;
    height: auto;
    margin-top: 4em;
    margin-left: 5em;
    border-radius: 50%;
}