header {
    padding: 20px 40px;
    color: white; 
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-image: url(../../assets/images/user-profile-header.jpg); 
    margin-top: -20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    width:100px;
    height: auto;
    border-radius: 50%;
}