<app-navigation></app-navigation>
<header>
    <div *ngIf="user; else loading" class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="{{ user.profilePhotoUrl }}" alt="">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
               <div class="user-details">
                    <p>
                        {{ user.username }} 
                        <span matTooltip="Editar mi perfil">
                                <a class="user-edit" mat-fab routerLink="/update-profile">
                                   <mat-icon aria-label="Edit profile">mode_edit</mat-icon>
                                </a>
                        </span> 
                    </p>
                    <p class="country">{{ user.country | uppercase }}</p>                    
                    <p>{{ user.score }} pts</p>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 button-container">
                <a class="fancy-button bg-gradient2" routerLink="/gameplay">
                     <span>Nueva Partida</span>      
                </a>
            </div>
        </div>
    </div>
    <ng-template #loading>
       <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </ng-template>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
                        <p class="heading"> {{ followerCount }} Amigos</p>
                <div class="user-panel">
                        <p class="heading">Ranking Mundial</p>
                        <mat-card  *ngFor="let podiumUser of podiumUsers; index as i" class="match-header">
                                <p class="ranked">{{  i + 1 }}°</p>    
                                <img src="{{ podiumUser.profilePhotoUrl }}" alt="">                        
                                <div class="ranked-user-details">
                                <p class="ranked-user-details-username">{{ podiumUser.username }}</p>
                                <p class="ranked-user-details-country">{{ podiumUser.country }}</p>
                                </div>
                                <p class="ranked-user-score"> {{ podiumUser.score }} <span>pts</span></p>  
                        </mat-card>
                        <a class="see-more" *ngIf="podiumUsers" mat-raised-button routerLink="/world-ranking" color="primary">Ver la lista completa</a>
                </div>
                <div class="user-panel">
                        <p class="heading">Ranking de Amigos</p>
                                <mat-card class="match-header">
                                                <p class="ranked">1st</p>    
                                                <img src="https://i.pinimg.com/originals/e6/50/32/e65032b045b7919ab19e4bdf85743390.jpg" alt="">                        
                                                <div class="ranked-user-details">
                                                <p class="ranked-user-details-username">vicstaples</p>
                                                <p class="ranked-user-details-country"> MEXICO</p>
                                                </div>
                                                <p class="ranked-user-score">21020 <span>pts</span></p>  
                                </mat-card>
                </div>
                <div class="user-panel">
                 <p class="heading">Partidas recientes</p>
                        <mat-card *ngFor="let match of matches" class="match-header">
                                <div>
                                        <p style="font-family:'jaapokkiregularregular';">{{ match.continent}}</p>  
                                        <p class="timestamp">{{ match.timestamp | date }}</p>               
                                </div>         
                                <p style="font-family:'jaapokkiregularregular';">{{ match.score }}pts</p>  
                        </mat-card>  
                </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
               <p class="heading">Nueva publicación</p>
               <form (ngSubmit)="createNewPost()" [formGroup]="createPostForm">    
                <mat-form-field class="new-post">
                    <textarea 
                        matInput
                        type="text"
                        formControlName="body"
                        placeholder="¿Qué está pasando? ¡Compártelo con la comunidad!">
                    </textarea>
                </mat-form-field> 
                <br>
                <button [disabled]="!createPostForm.valid" mat-raised-button type="submit" color="accent">Publicar</button>
                </form>
            <div *ngIf="posts; else noPosts" class="row">
                <mat-card *ngFor="let post of posts" class="user-post">
                      <mat-card-header>
                        <div mat-card-avatar style="width: 75px; height:75px;" [ngStyle]="{'background-image': 'url('+post.authorProfilePhoto +')'}"></div>
                        <mat-card-title class="user-post-title">{{ post.authorUsername }}</mat-card-title>
                        <mat-card-subtitle class="user-post-timestamp"> {{ post.timestamp | date:'fullDate' }}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="user-post-body">
                           {{ post.body }}
                        </p>
                      </mat-card-content>
                      <mat-card-actions style="margin-left: 10px;">  
                         <app-voting [postId]="post.$key" [userId]="_userService.currentUserId"></app-voting> 
                        <button mat-button (click)="selectPost(post)">Comentar</button>
                        <button  style="float:right; position:relative;" mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon>more_horiz</mat-icon> </button>
                        <mat-menu #menu="matMenu">
                          <button [disabled]="_userService.currentUserId != post.userId" mat-menu-item (click)="deletePost(post.$key)"><mat-icon>delete</mat-icon> Eliminar</button>                          
                        </mat-menu>                                               
                      </mat-card-actions>
                        <mat-card *ngFor="let comment of post.comments" class="user-comment">
                                <mat-card-header>
                                        <div mat-card-avatar style="width: 50px; height:50px;" [ngStyle]="{'background-image': 'url('+comment.authorProfilePhoto +')'}"></div>
                                        <mat-card-title class="user-comment-title">{{ comment.authorUsername }}</mat-card-title>
                                        <mat-card-subtitle class="user-comment-timestamp"> {{ comment.timestamp | date:'fullDate' }}</mat-card-subtitle>
                                        <button  style="float:right; position:relative;" mat-icon-button [matMenuTriggerFor]="commentMenu"> <mat-icon>more_horiz</mat-icon> </button>
                                        <mat-menu #commentMenu="matMenu">
                                                <button (click)="deleteComment(comment.$key)" [disabled]="_userService.currentUserId != comment.userId" mat-menu-item><mat-icon>delete</mat-icon> Eliminar</button>                                                                          
                                        </mat-menu>  
                                </mat-card-header>
                                <mat-card-content>
                                        <p class="user-comment-body">
                                                {{ comment.body }}
                                        </p>
                                </mat-card-content>
                        </mat-card>   
                        <div *ngIf="post.showForm">
                        <mat-card class="user-comment">
                                <mat-form-field  class="full-width">
                                                        <textarea 
                                                                matInput
                                                                type="text"
                                                                name= "comment"
                                                                placeholder="Escibe un comentario"
                                                                [(ngModel)]="post.commentText">
                                                        </textarea>
                                </mat-form-field> 
                                <button mat-raised-button type="submit" color="accent" (click)="addComment(comment)">Comentar</button>                          
                        </mat-card>
                        </div>                           
                </mat-card>
              </div>
             <ng-template #noPosts>     
                <div style="font-family: 'Ubuntu'; color: rgb(182, 182, 182); display: block; margin: 30px auto;">
                  No hay publicaciones que mostrar
                </div>
             </ng-template>
        </div>
    </div>
</div>
<app-footer></app-footer>