header {
    padding: 20px 40px;
    color: white; 
    width: 100vw;
    height: 80vh; 
    background-size: cover;
    background-image: url(../../assets/images/user-profile-header.jpg); 
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    width: 280px;
    height: auto;
    margin-top: 7em;
    border-radius: 50%;
}
.user-details {
    margin-left: .5em;
    margin-top: 7em;
}
.user-details p{
    font-size: 4em;
    font-family: 'jaapokkiregularregular';
}
.user-details p.country {
    font-size: 2em;
    font-family: 'jaapokkiregularregular';
}
.user-edit {
    background-color: rgba(0,0,0, 0.3);
    margin-left: 30px;
}