header {
    padding: 20px 40px;
    color: white; 
    width: 100vw;
    height: 70vh; 
    background-size: cover;
    background-image: url(../../assets/images/user-profile-header.jpg); 
    margin-top: -20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
img {
    width: 280px;
    height: auto;
    margin-top: 7em;
    border-radius: 50%;
}
.user-details {
    margin-left: .5em;
    margin-top: 7em;
}
.user-details p{
    font-size: 4em;
    font-family: 'jaapokkiregularregular';
}
.user-details p.country {
    font-size: 2em;
    font-family: 'jaapokkiregularregular';
}
.user-edit {
    background-color: rgba(0,0,0, 0.3);
    margin-left: 30px;
}
.empty-card {
    font-family: 'Ubuntu';
    background-color: rgba(235, 235, 235, 0.3);  
    text-align: center;
}
.match-card {
    font-family: 'jaapokkiregularregular';
    margin-bottom: 20px;
    display: flex;
}
.timestamp{
    color: darkgray;
    font-size: 1em;
    margin-left: 50px;
}
.match-header {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-wrap: wrap;
    font-size: 1.5em;
}
.match-header p.score{
    margin-left: 50px;
}
/* Mixins */
/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  background: #fa7e29;
  background: -webkit-linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
  background: -webkit-linear-gradient(top, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
  background: linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%);
}

.bg-gradient2 span,
.bg-gradient2:before {
  background: #39c2c9;
  background: -webkit-linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
  background: -webkit-linear-gradient(top, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
  background: linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
}

.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
  background: #B9AEF0;
  background: -webkit-linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
  background: -webkit-linear-gradient(top, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
  background: linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient4 span {
  background: #F6682F;
  background: -webkit-linear-gradient(180deg, #F6682F 0%, #F6682F 80%, #F6682F 100%);
  background: -webkit-linear-gradient(top, #F6682F 0%, #F6682F 80%, #F6682F 100%);
  background: linear-gradient(180deg, #F6682F 0%, #F6682F 80%, #F6682F 100%);
}

/* General */
.wrapper {
  margin: 4% auto;
  text-align: center;
}

h3 {
  color: #666a73;
  font-weight: 300;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

.fancy-button {
  display: block;
  width: 180px;
  height: 70px;
  margin: 20px auto;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.fancy-button.bg-gradient2 {
  text-shadow: 0px 0px 1px #bf4c28;
}
.fancy-button:before {
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  -webkit-filter: blur(14px) brightness(0.9);
          filter: blur(14px) brightness(0.9);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: block;
  margin: 0 auto;
  padding: 16px 20px;
  border-radius: 50em;
  position: relative;
  font-family: 'jaapokkiregularregular';
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
          filter: brightness(0.9) contrast(1.2);
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
          filter: blur(6px) brightness(0.8);
}
.fancy-button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
          filter: brightness(0.75) contrast(1.7);
}
