header {
    padding: 20px 40px;
    color: black; 
    width: 100vw;
    height: 70vh; 
    background-size: cover;
    margin-top: -20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/user-profile-header.png);
}
img {
    width: 250px;
    height: auto;
    margin-top: 3em;
    border-radius: 50%;
}
.user-details {
    margin-top: 3em;
}
.user-details p{
    font-size: 3.5em;
    font-family: 'jaapokkiregularregular';
}
.user-details p.country {
    font-size: 2em;
    font-family: 'jaapokkiregularregular';
}
.user-edit {
    background-color: rgba(0,0,0, 0.3);
    margin-left: 30px;
}
.empty-card {
    font-family: 'Ubuntu';
    background-color: rgba(235, 235, 235, 0.3);  
    text-align: center;
}

.timestamp {
    color: darkgray;
    font-size: .60em;
    font-family: 'Ubuntu';
}
.match-header {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-wrap: wrap;
    font-size: 1.5em;
    border-left: 5px solid rgb(47, 0, 255);;
}
.match-header p.ranked{
  font-size: 1em;
  font-family: 'jaapokkiregularregular';  
}
.match-header img{
    width: 60px;
    margin: 0;
    height: 60px;
}
.bg-gradient2 span,
.bg-gradient2:before {
  background: #39c2c9;
  background: -webkit-linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
  background: -webkit-linear-gradient(top, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
  background: linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
}
a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

.fancy-button {
  display: block;
  width: 180px;
  height: 70px;
  margin: 6em auto 0px auto;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.fancy-button:before {
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  -webkit-filter: blur(14px) brightness(0.9);
          filter: blur(14px) brightness(0.9);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: block;
  margin: 0 auto;
  padding: 16px 20px;
  border-radius: 50em;
  position: relative;
  font-family: 'jaapokkiregularregular';
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
          filter: brightness(0.9) contrast(1.2);
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
          filter: blur(6px) brightness(0.8);
}
.fancy-button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
          filter: brightness(0.75) contrast(1.7);
}
.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.friends-list {
  width: 100%;
  padding: 5px 10px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}
.ranking-list{
  width: 100%;
  padding: 5px 10px;
  position: relative;
}
.friend-data {
  flex: 1;
  flex-basis: 25%;  
  box-sizing: border-box;
  margin-top: -25px;
}
.friend-data img {
  width: 80px;
  height: auto;
}
.user-ranking {
   display: flex;
   flex-flow: row wrap;
}
.user-ranking p{
  font-family:'jaapokkiregularregular';
  font-size: 2em;
}
.user-ranking img {
    width: 80px; 
    height: auto;
}
p.friend {
  font-family: 'Ubuntu', sans-serif;
  margin: 10px auto 5px auto;
}
p.heading {
    font-family: 'jaapokkiregularregular';
    font-size: 2.5em;
    margin-bottom: 15px;
    margin-top: 30px;
}
.new-post {
  width: 100%;
}
.form-container {
  display: block;
  width: 60vw;
  margin: 30px auto;
}
.user-post {
  max-width: 95%;
  margin: 20px auto;
}
.user-post-title {
  font-family: 'jaapokkiregularregular';
  font-size: 2em;
  margin-left: 10px;
}
.user-post-timestamp {
  font-family: 'Ubuntu';
  margin-left: 15px;
}
.user-post-body {
  margin-left: 10px;
  margin-top: 30px;
  font-family: 'Ubuntu';
  font-size: 1.25em; 
}
.user-comment {
  max-width: 100%;
  margin: 10px auto;
}
.user-comment-title {
  font-family: 'jaapokkiregularregular';
  font-size: 1.5em;
  margin-left: 10px;
}
.user-comment-timestamp{
  font-family: 'Ubuntu';
  font-size: .7em;
  margin-left: 10px;
}
.user-comment-body{ 
  margin-left: 10px;
  margin-top: 30px;
  font-family: 'Ubuntu';
  font-size: 1em; 
}
.user-post-timestamp {
  font-family: 'Ubuntu';
  font-size: 1em;
  margin-left: 10px;
}
.ranked-user-details-username {
  font-family: 'jaapokkiregularregular';
  font-size: 1.1em;
}
.ranked-user-details-country {
  font-family: 'Ubuntu';
  font-size: .7em;
} 
.ranked-user-score {
  font-family: 'jaapokkiregularregular';  
}
.ranked-user-score span{
    color: rgb(47, 0, 255); 
}  
.see-more{
  margin: 10px 5px 20px 5px; 
  position: relative;
  float: right;
}
.user-panel {
  margin: 20px 5px;
  padding: 10px;
}

.wrapper {
  position: relative;
  padding: 20px;
}
.wrapper img{
  width: 70px;
  cursor: pointer;
  transition: transform 250ms ease;
}  
.wrapper img:hover {
  transform: scale(2);
  transition: transform 250ms ease;
}
.like {
  cursor: pointer;
  
}
.like .liked{
    font-weight: bold;
    color: #3B5998;
}
.emojis {
  position: absolute;
  top: -80px;
  background: white;
  border: 1px lightgray solid;
  box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.45);
  border-radius: 80px;
  display: inline-block;
}
.reactions {
  height: 40px;
  margin-bottom: 20px;
}
.reaction-counts {
  height: 100px;
  display: inline;
  float: left;
}
.reaction-counts img{
  position: relative;
  bottom: -10px;
  width: 32px;
}