header {
    padding: 20px 40px;
    color: white; 
    width: 100vw;
    font-family: 'Volkhov', serif;
    height: 80vh;
    background-size: cover;
    background-image: url(../../assets/images/user-profile-header.jpg); 
    margin-top: -20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
}
header div.details {
  text-align: right;
  font-family: 'Lato', sans-serif;
  width: 60%; 
  height: 60px;
  padding-right: 20px;
  background: white;
  color: black;
  font-size: 3em;
}