@font-face {
    font-family: 'jaapokkiregularregular';
    src: url('assets/fonts/jaapokki-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/jaapokki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.full-width {
    width: 90%;
    margin-bottom: 20px;
}
h1 { 
    font-family: 'jaapokkiregularregular';
    font-size: 3.5em;
}