h1,h2,h3 {
    font-family: 'jaapokkiregularregular';
    color: white;
    position: absolute;
}
h1 {
    font-family: 'jaapokkiregularregular';
    bottom: 55vh;
    left: 35vw;
    font-size: 4.5em;
}
.logo-main {
   width: 125px;
   height: 125px;
   margin-right: -20px;
   margin-bottom: -15px;
}
h2 {
    bottom: 47.5vh;
    left: 25vw;
}
h3 { 
    padding: 10px 20px;
    bottom: 37.5vh;
    background: aqua; 
    left: 32.5vw;
    color: black;
}
.register-invitation {
   color: darkgrey;
   font-size: 1em;
}
.video-responsive {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
}
.buttons{
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
}