<div class="container">
  <h1>Buscar amigos</h1>
  <div class="row">
  <form action="">
    <div class="col-md-8 col-sm-8">
          <div class="form-group">
            <label for="">Ingresa el nombre</label>
            <input type="text" class="form-control">    
          </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label for="">Ingresa el país</label>
            <select class="form-control">
                <option>Escoge tú país de origen..</option>
                <option *ngFor="let pais of paises" [value]="pais.name"> 
                 {{ pais.name }} 
                </option>
              </select>
        </div>
    </div>
  </form>
  </div>
  <ul class="list-group">
  </ul> 
</div>