<div class="video-responsive">
    <video  width="100%"  autoplay loop>
            <source src="/assets/images/paris.mp4" type="video/mp4">
    </video>
</div>
    <h1 class="text-center">
                <span>
                   <img class="logo-main" src="assets/images/logo.png" alt="Logo Geocity">
                </span>
                 Geocity
    </h1>
    <h2 class="text-center"> 
            ¿Qué tantas ciudades conoces de nuestro planeta?
    </h2>
    <h3>
        Juega Geocity y conoce cuánto sabes del mundo.
    </h3>
    <div class="buttons">
            <button mat-raised-button (click)="loginToGeocityAccount()">Acceder a mi cuenta</button>            
            <button mat-raised-button (click)="signUpToGeocityAccount()">Crear una cuenta</button>
    </div>