h1 {
    font-family: 'jaapokkiregularregular';
    bottom: 50vh;
    left: 30vw;
    position: absolute;;
    font-size: 5em;
}
.logo-main {
   width: 125px;
   height: 125px;
   margin-right: -25px;
}
.register-invitation {
   color: darkgrey;
   font-size: 1em;
}