.footer {
    font-family: 'jaapokkiregularregular';
    font-size: 2em;
    text-align: center;
    margin-top: 120px;
    bottom: 0;
    width: 100%;
    position: relative;
    padding: 25px none;
}
.logo-main {
   width: 40px;
   height: 40px;
   margin-right: -10px;
   margin-top: -10px;
}