<header>
    <h1 class="text-center">
     <span>
        <img class="logo-main" src="assets/images/logo.png" alt="Logo Geocity">
     </span>
      Geocity
    </h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-lg-4 col-lg-offset-4 ">
            <h3 class="text-center">Registra una cuenta</h3> <br>       
            <form>
                    <div class="form-group">
                        <label for="">Nombre:</label>
                        <input 
                              class="form-control" 
                              type="text"
                              placeholder="Ingresa un nombre">
                    </div>
                    <div class="form-group">
                        <label for="">País de Origen:</label>
                        <select class="form-control" name="" id="">
                          <option>Escoge tú país de origen..</option>
                          <option *ngFor="let pais of paises" [value]="pais.name">{{ pais.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Correo electronico:</label>
                        <input 
                              class="form-control" 
                              type="email"
                              placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="">Confirmar correo electrónico:</label>
                        <input 
                            class="form-control" 
                            type="email"
                            placeholder="Confirma tu correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña:</label>
                        <input 
                            class="form-control" 
                            type="password"
                            placeholder="Contraseña">
                    </div>
                    <button class="btn btn-info" type="submit">Acceder</button>
            </form>
        </div>
    </div>
</div>