agm-map {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.match-chose {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding-top: 50px;
    position: absolute;
    background-color: white;
}
.match-timer{
    font-size: 2em;
}
.match-details {
    font-family: 'jaapokkiregularregular';
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 10;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.location {
    position: absolute;
    background-color: transparent;
    bottom: 5%;
    left: 5%;
    border-radius: 5px;
    z-index: 2;
    margin-top: -500px;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    overflow: hidden;
}
h1 {
    font-family: 'jaapokkiregularregular';
    margin-left: 20px; 
    font-size: 3.5em;   
} 
h2{
    color: rgb(213, 213, 213);
}
.no-padding {
    padding: 0px !important;
    margin: 0px !important;    
}
.continent-selection { 
    max-width: 100%;
    height: 40vh;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;    
    margin-bottom: 5px;
    color: white;
    font-family: 'jaapokkiregularregular';
    font-size: 1.5em;    
    -webkit-box-shadow: 0px 11px 49px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 49px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 49px -12px rgba(0,0,0,0.75);
    background-repeat: no-repeat;
}
.continent-selection:hover {
    background-color: rgba(0, 0,0,.5); 
    cursor: pointer;
    transform: scale(1.025);
    transition: transform .3s;
}
.continent-selected {
    transform: scale(1.1); 
    z-index: 999;   
}
.continent-selected.continent-selection:hover{
    transform: none;
    transform: scale(1.1); 
    z-index: 999; 
}
.continent-not-selected{
    background-color: gray;
}
.location-card {
    bottom: 100px;
    left: 100px;
    position: absolute;
}
.location-card  img{
    width:  200px;
    height: 200px;
}
.bg-gradient2 span,
.bg-gradient2:before {
  background: #39c2c9;
  background: -webkit-linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
  background: -webkit-linear-gradient(top, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
  background: linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
}
a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
.fancy-button {
  display: block;
  width: 180px;
  height: 70px;
  margin: 20px auto;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.fancy-button:before {
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  -webkit-filter: blur(14px) brightness(0.9);
          filter: blur(14px) brightness(0.9);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: block;
  margin: 0 auto;
  padding: 16px 20px;
  border-radius: 50em;
  position: relative;
  font-family: 'jaapokkiregularregular';
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
  cursor: pointer;
}
.fancy-button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
          filter: brightness(0.9) contrast(1.2);
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
          filter: blur(6px) brightness(0.8);
}
.fancy-button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
          filter: brightness(0.75) contrast(1.7);
}
