<div *ngIf="!isMatchConfigurationDone" class="match-chose">
  <div class="container-fluid">
      <h1 class="text-center">Nueva Partida</h1>
      <h2 class="text-center" style="font-family: 'Ubuntu'; margin-bottom: 30px; font-size: 1.5em;">Escoge un continente</h2> 
      <div class="selection-panel">
            <div class="selection-control">
                  <button class="arrow-button" [disabled]="!enableButtonToGoPrevious" mat-fab (click)="goToPreviousContinent()">
                        <span matTooltip="Anterior">                                                 
                              <mat-icon aria-label="">arrow_back</mat-icon>
                        </span>
                  </button>
            </div>
            <div class="continent">
                  <div class="continent-selection"
                        [ngStyle]="{'background-image': 'url('+continent.image +')'}">
                         {{ continent.name }}
                  </div>
            </div>
             <div class="selection-control">
                  <button class="arrow-button" (click)="goToNextContinent()" [disabled]="!enableButtonToGoNext" mat-fab>
                        <span matTooltip="Siguiente">       
                              <mat-icon aria-label="">arrow_forward</mat-icon>
                        </span>
                  </button>
             </div>
      </div>
      <div style="margin: 30px auto 0px auto; display: block; text-align: center; width: 20vw;">
                  <a style="margin-right: 10px;" routerLink="/social" color="primary" mat-fab>
                              <span matTooltip="Ranking">       
                                    <mat-icon aria-label="">sort</mat-icon>
                              </span>
                  </a>
                  <button style="margin-right: 10px; background-color: rgb(0, 208, 255);"  (click)="selectContinentForMatch(continent)" class="arrow-button" [disabled]="!enableButtonToGoPrevious" mat-fab (click)="goToPreviousContinent()">
                        <span matTooltip="Jugar">       
                              <mat-icon aria-label="">play_arrow</mat-icon>
                        </span>
                  </button>
                  <a color="primary" style="margin-right: 10px;" routerLink="/profile" mat-fab>
                        <span matTooltip="Volver">
                              <mat-icon aria-label="">replay</mat-icon>
                        </span>
                  </a>
        </div>
  </div>  
</div>
<div *ngIf="matchState">
      <mat-progress-bar class="progress-bar" mode="determinate" value="{{ timeProgressBar }}"></mat-progress-bar> 
      <div class="match-details">      
        <p class="match-timer">Tiempo:  {{ 30 - timer }} s </p>
        <p class="match-timer">Locación:  {{ index }} / 5 </p> 
        <p class="match-timer">Puntación: {{ matchScoreControl }}</p>
      </div>
      <agm-map [latitude]="latitudeOfContinentSelected"  
                    [longitude]="longitudeOfContinentSelected"  
                    [zoom]="3" [streetViewControl]="false"
                    (mapClick)="mapClicked($event)">
              <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
      </agm-map>
      <div class="location" *ngIf="location">
          <img style="width: 100%; height: auto; border-radius: 5px;" src="{{ location.imagen }}" alt="{{ location.imaen }}">            
      </div>
</div>