<div *ngIf="!isMatchConfigurationDone" class="match-chose">
  <div class="container-fluid">
      <h1 class="text-center">Nueva Partida</h1>
      <h2 class="text-center" style="font-family: 'Ubuntu'; margin-bottom: 40px; margin-left: 20px; font-size: 2em;">Escoge un continente</h2> 
      <div class="row">
          <div class="col-md-2">
                <button [disabled]="!enableButtonToGoPrevious" mat-fab (click)="goToPreviousContinent()">
                        <mat-icon aria-label="">arrow_back</mat-icon>
                </button>
          </div>
          <div 
                class="continent-selection"
                [ngStyle]="{'background-image': 'url('+continent.image +')'}">
            {{ continent.name }}
          </div>
          <div class="col-md-2" (click)="goToNextContinent()">
                <button [disabled]="!enableButtonToGoNext" mat-fab>
                        <mat-icon aria-label="">arrow_forward</mat-icon>
                </button>
          </div>
      </div>
  </div>  
  <a class="fancy-button bg-gradient2" (click)="selectContinentForMatch(continent)">
      <span>Iniciar</span>      
  </a>
  <a class="fancy-button bg-gradient2" routerLink="/profile">
        <span>Volver al perfil</span>      
  </a>
</div>
<div *ngIf="matchState">
      <div class="match-details"> 
        <p class="match-timer">Tiempo:  {{ 30 - timer }} s </p>
        <p class="match-timer">Oportunidad:  {{ index  }} / 5 </p> 
        <p class="match-timer">Puntaje: {{ matchScoreControl }}</p>
      </div>
      <agm-map [latitude]="latitudeOfContinentSelected"  
                    [longitude]="longitudeOfContinentSelected"  
                    [zoom]="3" [streetViewControl]="false"
                    (mapClick)="mapClicked($event)">
              <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
      </agm-map>
      <div class="location" *ngIf="location">
          <img style="width: 100%; height: auto; border-radius: 5px;" src="{{ location.imagen }}" alt="{{ location.imaen }}">            
      </div>
</div>