agm-map {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.match-chose {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    background-color: white;
    padding: 50px 100px;
}
.match-timer{
    font-size: 2em;
}
.match-details {
    font-family: 'jaapokkiregularregular';
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 10;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.location{
    position: absolute;
    background-color: transparent;
    bottom: 5%;
    left: 120px;
    border-radius: 5px;
    z-index: 2;
    margin-top: -500px;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    overflow: hidden;
}
h2{
    margin-top: -5px ;
    margin-bottom: 30px;
    font-family: 'Ubuntu';    
    font-size: 2em;
    color: gray;
}
.continent-selection { 
    width: 100%;
    margin-bottom: 5px;
    color: white;
    font-family: 'jaapokkiregularregular';
    font-size: 1.5em;    
    background-repeat: no-repeat;
}
.continent-selection:hover {
    background-color: rgba(0, 0,0,.5); 
    cursor: pointer;
    transform: scale(1.05);
}
.continent-selected {
    transform: scale(1.1); 
    z-index: 999;   
}
.continent-selected.continent-selection:hover{
    transform: none;
    transform: scale(1.1); 
    z-index: 999; 
}
.continent-not-selected{
    background-color: gray;
}
.location-card {
    bottom: 100px;
    left: 100px;
    position: absolute;
}
.location-card  img{
    width:  200px;
    height: 200px;
}