agm-map {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.match-chose {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding-top: 50px;
    position: absolute;
}
.match-timer{
    font-size: 2em;
}
.match-details {
    font-family: 'jaapokkiregularregular';
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 10;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.location {
    position: absolute;
    background-color: transparent;
    bottom: 5%;
    left: 5%;
    border-radius: 5px;
    z-index: 2;
    margin-top: -500px;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    box-shadow: 2px 11px 96px -14px rgba(0,0,0,0.64);
    overflow: hidden;
}
h1 {
    font-family: 'jaapokkiregularregular'; 
    font-size: 3em;   
} 
h2{
    color: rgb(213, 213, 213);
}
.no-padding {
    padding: 0px !important;
    margin: 0px !important;    
}
.continent-selection { 
    max-width: 100%;
    height: 50vh;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    color: white;
    font-family: 'jaapokkiregularregular';
    font-size: 1.5em;    
    -webkit-box-shadow: 0px 11px 49px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 49px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 49px -12px rgba(0,0,0,0.75);
    background-repeat: no-repeat;
}
.continent-selection:hover {
    background-color: rgba(0, 0,0,.5); 
}
.continent-selected {
    transform: scale(1.1); 
    z-index: 999;   
}
.continent-selected.continent-selection:hover{
    transform: none;
    transform: scale(1.1); 
    z-index: 999; 
}
.continent-not-selected{
    background-color: gray;
}
.location-card {
    bottom: 100px;
    left: 100px;
    position: absolute;
}
.location-card  img{
    width:  200px;
    height: 200px;
}
.selection-panel { 
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.selection-panel .selection-control{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.selection-panel .continent{
    width: 22.5vw;    
}
.arrow-button {
    background-color: rgb(5, 134, 255);
}
.arrow-button:disabled{
    background-color: rgb(208, 208, 208);
}
