<div *ngIf="!isMatchConfigurationDone" class="match-chose">
  <h1>Nueva Partida</h1>
  <h2>Escoge un continente</h2>
  <div class="row">
    <div *ngFor="let continent of continents" class="col-md-12 col-sm-12 col-xs-12">
      <mat-card 
              class="continent-selection"
              [ngClass]="{ 'continent-selected': continent.isContinentSelected }"  
              [ngStyle]="{'background-image': 'url('+continent.image +')'}"
              (click)="selectContinentForMatch(continent)">
              {{ continent.name }}
      </mat-card>
    </div>
  </div>
</div>
<agm-map [latitude]="lat"  [longitude]="lng"  [zoom]="4" [zoomControl]="false" [streetViewControl]="false"> 
    
</agm-map>
