agm-map {
    width: 100%;
    height: 500px; 
}
.match-chose {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: absolute;
    background-color: white;
    padding: 50px 120px;
}
h1 {
    font-family: 'jaapokkiregularregular';
}
h1{ 
    font-size: 4em;
}
h2{
    margin-top: -5px ;
    margin-bottom: 30px;
    font-family: 'Ubuntu';    
    font-size: 2em;
    color: gray;
}
.continent-selection { 
    width: 100%;
    margin-bottom: 5px;
    color: white;
    font-family: 'jaapokkiregularregular';
    font-size: 1.5em;    
    background-repeat: no-repeat;
}
.continent-selection:hover {
    background-color: rgba(0, 0,0,.5); 
    cursor: pointer;
}